<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1617632769/produtos_h79kzl.png);">
</div>
<div class="container">
    <div id="somos">        
        <div class="full-content">
            <%= image_tag "https://images.unsplash.com/photo-1609337231803-2adad48ea1d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80", class: "somos-photo" %>
            <div class="content">
                <h2>Quem Somos</h2>
                <p>Começamos nossas atividades em Janeiro de 2020, onde nosso foco é fornecer produtos na área de elétrica, eletrônica e automação de qualidade por um preço acessível para as empresas. Somos distribuidores autorizados e não autorizados de marcas do segmento, conseguimos preços diferenciados, certificação caso seja necessário sendo conversado previamente e proporcionamos um atendimento de especializado e de qualidade.</p>
                <p>Nosso objetivo como empresa é atender o melhor possível nossos clientes contratando pessoas com forte conhecimento técnico que tenham uma visão de sonho grande para atender essa expectativa. Assim conseguiremos ajudar o mercado a se desenvolver tecnologicamente por um preço justo e com os melhores produtos disponíveis.</p>
            </div>
        </div>
    </div>

    <div id="produto">
        <div class="cards mt-4">
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506204/SIEMENS_j29pob.png)"></div>
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506261/PROFACE_bgqdld.png)">
            </div>
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506299/ABB_gxhjk1.jpg)">
            </div>
        </div>

        <div class="cards mt-4">
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506334/WAGO_gsyilj.png)"></div>
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506848/SCHNEIDER_k3dgty.jpg)"></div>
            <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506774/SABI_rqwkev.png)"></div>
        </div>

        <div class="cards mt-4">
                <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618506947/ROCKWELL_szxbjf.png)"></div>
                <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618507018/REXROTH_xvxtru.jpg)"></div>
                <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmcepupsl/image/upload/v1618507378/PHOENIX_ec3zeg.jpg)"></div>
        </div>
    </div>

    <div class="container">
        <%= simple_form_for(@message) do |f| %>
                <%= f.input :nome %>
                <%= f.input :sobrenome %>
                <%= f.input :email %>
                <%= f.input :descricao %>
                <%= f.button :submit , class: "btn btn-primary"%>
        <% end %>
    </div>
    <div class="footer">
        <div class="footer-links">
            <a href="https://www.instagram.com/mt_company_oficial/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/m-t-company"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
            Presented by M&T Company Comercio LTDA
        </div>
    </div>

</div>
