<!DOCTYPE html>
<html>
  <head>
    <title>MtCompany</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="/">
        <%= image_tag "logo.png", class: "logo" %>
    </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="#somos">Quem Somos</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#produto">Produtos</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
